.titulo-container {
    background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 120px;
    
}

.titulo-container h3 {
    color: white;
}